body {
  font-family: 'Inter', sans-serif;
  color: #343a40;
  border-bottom: 8px solid #087f5b;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  width: 960px;
}
header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  margin-top: 105px;
}
h1 {
  margin-bottom: 32px;
  font-size: 44px;
  line-height: 1.1;
  letter-spacing: -1;
}
img {
  width: 100%;
  border-radius: 15px;
}
.header-text {
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.7;
}
.btn {
  background-color: #087f5b;
  width: 200px;
  height: 50px;
  box-shadow: none;
  color: white;
  font-size: 20px;
  border-radius: 100px;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  display: inline-block;
}
