body {
  font-family: 'Inter', sans-serif;
  color: #343a40;
  border-bottom: 8px solid #087f5b;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  width: 960px;
}
header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  margin-top: 105px;
}
h1 {
  margin-bottom: 32px;
  font-size: 44px;
  line-height: 1.1;
  letter-spacing: -1;
}
img {
  width: 100%;
  border-radius: 15px;
}
.header-text {
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.7;
}
/* .btn {
  background-color: #087f5b;
  width: 200px;
  height: 50px;
  box-shadow: none;
  color: white;
  font-size: 20px;
  border-radius: 100px;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  display: inline-block;
} */
/* .btn:hover {
  background-color: #099268;
} */
header,
section {
  margin-bottom: 96px;
}
h2 {
  font-size: 36px;
  letter-spacing: -0.5;
  margin-bottom: 48px;
}
.features-icon {
  color: #087f5b;
  width: 32px;
  height: 32px;
  margin-bottom: 25px;
}
.feature-title {
  font-size: 20px;
  margin-bottom: 16px;
}
.features-text {
  font-size: 18px;
  line-height: 1.7;
}
.grid-3-colum {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
}
.testimonial-section {
  background-color: #087f5b;
  width: 960px;
  height: 250px;
  border-radius: 12px;
  padding: 24px;
  color: white;
}
.sitting-on-chair {
  width: 250px;
}
.testimonial-box {
  grid-column: 2 / -1;
  align-self: center;
}

.testimonial-box h2 {
  margin-bottom: 24px;
  /* 20 / 24 / 30 */
  font-size: 24px;
  color: white;
}
.testimonial-text {
  font-style: italic;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.7;
}
.testimonial-author {
  color: #c3fae8;
}
.chair img{
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.chair-box{
  padding: 32px;
}
h3{
  margin-bottom: 24px;
  font-size: 20px;
}
.chair-icon {
  stroke: #087f5b;
  width: 24px;
  height: 24px;
}
.chair-details {
  list-style: none;
  margin-bottom: 48px;
}

.chair-details li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.chair-details li:last-child {
  margin-bottom: 0;
}

.btn:link,
.btn:visited {
  background-color: #087f5b;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  border-radius: 100px;
}

.chair {
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
  border-radius: 12px;
}
.btn:hover,
.btn:active {
  background-color: #099268;
}

.btn--big {
  font-size: 18px;
  padding: 16px 32px;
}

.btn--small {
  font-size: 14px;
  padding: 8px 12px;
}
footer{
  margin-bottom: 48px;
  font-size: 14px;
  color: #495057;
}
.chair-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}
.chair-2{
  width: 267px;
  height: 178px;
}